{% extends "base.html" %}
{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-danger">
        <h2 class="display-4 text-center">Vojáci Easy company</h2>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
<p>
    <li>Easy Company neboli Rota E byla společně s rotami D, F a velitelskou rotou součástí 2. praporu 506. parašutistického pluku 101. vzdušné výsadkové divize Armády Spojených států. Tato jednotka prošla tuhými boji od výsadku v Normandii, přes Holandsko, kde se účastnila operace Market Garden, Belgii, Německo až k obsazení Hitlerova Orlího hnízda poblíž Berchtesgadenu.</li>


        <li>Nejvýrazněji se Rota E osvědčila při samotném Dni D 6. června 1944 u francouzského statku Brécourt, kde zničila těžkou baterii německého dělostřelectva, které pálilo na vyloďovací pláže. To následně pomohlo úspěšnému vylodění amerických spojeneckých sil na pláži Utah. </li>

<li> Během celé druhé světové války padlo celkem 49 členů roty E.</li>

        <li>30. listopadu 1945 byla 101. vzdušná výsadková divize rozpuštěna a s ní i rota E. </li>
    </p>
            </div>
            <div class="col-md-6">
                <img src="../static/images/znak.png" alt="symbol" width="512" height="512">

            </div>
        </div>
    </div>


<div class="row">
</div>
{% endblock %}